<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Supernatural Web Site</title>
    <link rel="stylesheet" href="../app.css" type="text/css">
</head>


<body background="sammy.jpg" width="1380px" height="1300px">
    <% include ../partial/header %>
    <br>
    <br>

    <div class="row">
        <br>
        <br>

        <h1 class="white">Please Contact Us</h1>


    </div>
    <div class="grid-container1">
        <form accept-charset="UTF-8" action="/add" method="post">

            <div class="item">
                <label for="name">Name:</label>
                <input name="name" type="text" placeholder="Please enter your name" />
                <br>
                <label for="comment">Comment:</label>
                <input name="Comment" type="text" placeholder="Please enter your comment" />
                <br>
                <label for="email">Email:</label>
                <input name="email" type="text" placeholder="Please enter your email address" />
                <br>
                <button class="button">Leave Comment</button>
            </div>

        </form>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <% include ../partial/footer %>