<% include ../partial/header %>

<link rel="stylesheet" href="app.css" type="text/css">
<br>
<br> 

<div class="row">
<br>
<br>
    <br>
    <br>    
    <h2>Please Contact Us</h2>
    <br>
    <br>
</div>
    <div class="grid-container1">
        <form accept-charset="UTF-8" action="/add" method="post">
            
            <div class="item">
                <label for="name">Name:</label>
                <input name="name" type="text" placeholder="Please enter your name" />
                <br>
                <label for="comment">Comment:</label>
                <input name="comment" type="text" placeholder="Please enter your comment" /> 
                <br>
                <label for="email">Email:</label>
                <input name="email" type="text" placeholder="Please enter your email address" />                 
                <br>
                <button class="button">Leave Comment</button>
            </div>
        
        </form>
    <br>     
    <br>
    <br> 
    </div>
    
    
<% include ../partial/footer %>