<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../app.css" type="text/css">
</head>
<body>
<% include ../partial/header %>

<div class="row">
    
    <br>
    <br>
    <br>
    <br>
    <h1>Create a character with SQL and Node</h1>
    
    <div class="grid-container2">
        <!--<form accept-charset="UTF-8" action="/createsql" method="post">-->
        <form accept-charset="UTF-8" id="uploadForm" ref="uploadForm" action="/createsql" method="post" enctype="multipart/form-data">    
            <div class="item">
                <label for="name">Name:</label>
                <input name="name" type="text" placeholder="Please enter the character name" />
                
                <label for="description">Description:</label>
                <input name="description" type="text" placeholder="Please enter the description of the character" /> 
                
                <!--<label for="image">Image:</label>-->
                <!--<input name="image" type="text" class="pimage" placeholder="Please enter your image name" />  -->
                
                <input class="button" type="file"  class="pimage" name="sampleFile" />        
                <br>
                
                
                <button class="button">Create the Character</button>
                <br>
                <a href="/characterssql">Back to Characters</a>
            </div>
           
            <br>
    <br> 
        </form>
        
        
    </div>
    
    
</div>

<br>
    <br>
    <br> 

</body>
<% include ../partial/footer %>