<body background="../sammy.jpg" width="1280px" height="1350px">  
    <% include ../partial/header%>
    <br>
    <br>
    <br>
    <br>
    
    <!--does work on lastCharacter page if uncommented out, prompt for user to see last character created-->
   
    <!--           <div class="grid-container2">-->
       
    <!--                 <%# res1.forEach(function(characters1) { %>-->

    <!--                    <div class="item2">-->
    <!--                            <div class="item">-->
    <!--                                <h3>chrId: <%#= characters1.chrId %></h3>-->
    <!--                                <h3>Name: <%#= characters1.Name %></h3>-->
                    
    <!--<br> -->
    <!--                            </div>-->
    <!--                    </div>-->
    <!--                <%# }); %>-->
    <!--            </div>-->
                   
        
    
    

    <div class="row">
    
    
                <h1 class="white">&nbsp;&nbsp;Create Trivia for a Character</h1>
                <div class="grid-container1">
        
                    <form accept-charset="UTF-8" action="/createtrivia" method="post">    
                            <div class="item">
                                
                               
                                
                                    <label for="chrId"></label>
                                    <input name="chrId" type="text" placeholder="Enter chrId number to add to Character choice", pattern='[1-9]{1}[0-9]{0,2}' title='chrId needed', required />
    <br>                            
                                    
                                    <label for="name"></label>
                                    <input name="name" type="text" minlenght="6" placeholder="Enter Name of Character" pattern='[a-zA-Z][a-zA-Z ]{2,}', title='Please enter Character Name', required/>
    <br>                            
                                    <label for="Trivia"></label>
                                    <input name="Trivia" type="text" minlenght="10" placeholder="Enter Trivia for Character", pattern='[a-zA-Z][a-zA-Z ]{3,0}', title='Please add trivia', required/>
    <br>
                            </div>
              
                   
                                    <button class="button">Create Trivia</button>
                                    <br>
                                    <a href="/characterssql">Back to Characters</a>
                    </form> 
                    
                </div>
    <br>
    <br> 
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>
    <br>
    </div>  
                                
                                
                               
                       


    <% include ../partial/footer %>
</body> 