<body background="../sammy.jpg" width="1280px" height="1350px">  
    <% include ../partial/header%>
    <br>
    <br>
    <br>
    <br>
    
    
                    
        
    
    

    <div class="row">
    
    
                <h1 class="white">&nbsp;&nbsp;Create Trivia for a Character</h1>
            <div class="grid-container1">
        
                    <form accept-charset="UTF-8" action="/createtrivia" method="post">    
                            <div class="item">
                                
                               
                                
                                <label for="chrId"></label>
                                <input name="chrId" type="text" placeholder="Enter trivia number" />
    <br>                            
                                
                                <label for="name"></label>
                                <input name="name" type="text" placeholder="Enter Name" />
    <br>                            
                                <label for="Trivia"></label>
                                <input name="Trivia" type="text" placeholder="Enter Trivia" />
    <br>
                            </div>
              
                   
                                <button class="button">Create Trivia</button>
                                <br>
                                <a href="/characterssql">Back to Characters</a>
                    </form>       
           </div>
    <br>
    <br> 
        
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>
    <br>
    </div>  
                                
                                
                               
                       

</body>
    <% include ../partial/footer %>