<!--<!DOCTYPE html>-->
<!--<html>-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" href="../app.css" type="text/css">-->
<!--</head>-->
<body>
    <body background="../dino.jpg"  class="charback" width="1280px" height="1350px"> 
    <% include ../partial/header %>

       <div class="row">
    
    <br>
    <br>
    <br>
    <br>
            <h1 class="white">Create a new Character</h1>
    
                    <div class="grid-container2">
                        <form accept-charset="UTF-8" id="uploadForm" ref="uploadForm" action="/createsql" method="post" enctype="multipart/form-data">    
                            <div class="item">
                                <label for="name">Name:</label>
                                <input name="name" type="text" placeholder="Enter the Character's Name" ,pattern='[a-zA-Z][a-zA-Z ]{2,}', required />
                                <label for="description">Description:</label>
                                <input name="description" type="text" placeholder="Please enter the description of the character",  required />
                                <label for="image">Image:</label>
                                <!--<input name="image" type="text" class="pimage" placeholder="Please enter your image name",  pattern='[a-z0-9]+\.[a-z]{3,}$', title='Correct Image Format', required/>  -->
                                
                                <input class="button" type="file"  class="pimage" name="sampleFile" /> 
                                
                                
                                </form>
                                
                                
                                
                                <button class="button">Create the Character</button>
                                <br>
                                
                                <a href="/characterssql">Back to Characters</a>
                            </div>
           
    <br>
    <br> 
                                           </div>
    
        </div>

    <br>
    <br>
    <br> 

 <

</body>
    <% include ../partial/footer %>