<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   
   
    <title>Supernatural Web Site</title>
    
   <link rel="stylesheet" href="app.css" type="text/css">
  </head>
  <body>
  <% include partial/header %>
<h1>
  Fan Club Page
      </h1>




 <% include partial/footer %>  
    </body>
</html>