<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   
   
    <title>Supernatural Web Site</title>
    
   <link rel="stylesheet" href="app.css" type="text/css">
  </head>
  <body>
  <% include ../partial/header %>
<br>
<br>
<br>
  
<h1>Fan Club Page</h1>
<br>
<br>
<br>

<form id="contactform" name="contact">
        <div>
          <label>
            <p>Name</p>
            <input name="nombre" id="c_name" type="text" class="c_input" placeholder="..."/>
          </label>
          <br/>
          <label>
            <p>Email:</p>
            <input name="email"  id="c_mail" type="text" class="c_input" placeholder="..."/>
          </label>
          </div>
          <label>
          <p>Comment:</p>
          <textarea name="mensaje"  id="c_msg" placeholder="..."></textarea>
          </label>

        <div id="formbutton">
            <input name="send" onclick="cargaSendMail()" type="button" value="Submit" class="btn-b" id="c_enviar"></input>
        </div>
    </form>


 <% include ../partial/footer %> 
 
    </body>
</html>