<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../app.css" type="text/css">
  </head>



<body class="body">
   
    <% include ../partial/header %> 
    

    <% include ../partial/footer %>

</body>

</html>

