<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   
   
    <title>Supernatural Web Site</title>
    
   <link rel="stylesheet" href="app.css" type="text/css">
  </head>
  

  <body style="background-image:url(supernaturalbg.jpg)" alt="supernatural" width="980px" height"1000px">
     <% include ../partial/header %>


<h1>Index page</h1>
<br>
<br>
<br>


 <% include ../partial/footer %>
 </div>
</body>
</html>
