<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   
   
    <title>Supernatural Web Site</title>
    
   <link rel="stylesheet" href="app.css" type="text/css">
  </head>
  <body>
  <% include ../partial/header %>
<div class="background">
  <body style="background-image: url(supernaturalgang.jpg)";
  
  
  
  
  
 </div>   




 <% include ../partial/footer %>
</body>
</html>
