<% include ../partial/header %>

 <div class="row">
                <h1>Product page</h1>

            </div>
            
            
            <div class="row">
            <h1>Welcome to the products page  <br>
            
  <div class="grid-container">
      
      
      <% product.forEach(function(product) { %>
      
           <div class="item">     
                <div class="item">
                   <h1 class="itemtitle">Id: <%= product.id %></h1>
                   <h1 class="itemp">Name: <%= product.name %> </h1>
                   <h1 class="itemp">Description: <%= product.description %> </h1>
                   <h1 class="itemp">Price: <%= product.price %> </h1>

                    </div>
              </div>
              
              
             <% }); %> 
              
           
    </div>
  </h1>
</div>

            

           

<% include ../partial/footer %>