<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   
   
    <title>Supernatural Web Site</title>
    
   <link rel="stylesheet" href="app.css" type="text/css">
  </head>
  <body>
   <% include partial/header %> 

<h1>Products Page</h1>

  <div class="row">
  <h1>Welcome to the products page  <br>
  <div class="grid-container">
      
           <div class="item">     
                <div class="item">
                   <h1 class="itemtitle">Id: </h1>
                   <h1 class="itemp"> </h1>
                    <p class="itemp"></p>
                    
                  
                   
                   
                  
                   
                     
                    </div>
              </div>
           
    </div>
  </h1>
</div>






 <% include partial/footer %>  
    </body>
</html>