<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   <title>Supernatural Web Site</title>
    
   <link rel="stylesheet" href="../app.css" type="text/css">
  </head>
   
       
             <% include ../partial/header %>
    <!--my page info goes here-->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <% include ../partial/footer %>


</body>
</html>
