<body background="../sammy.jpg" width="1280px" height="1350px"> 
    <% include ../partial/header %>
    
    
        <div class="row">
        <br>
        <br>
        <br>
        <br>
        <br>
            <h1>Update trivia</h1>
                <div class="grid-container1">
                    <% res1.forEach(function(trivia1) {%>        
                            <form accept-charset="UTF-8" action="/triviaupdate/<%= trivia1.chrId %>" method="post">
                                <div class="item">
                                    
                                    <label for="chrId">chrId: </label>
                                    <input name="chrId" type="text" value="<%= trivia1.chrId %>" />
                                    
                                    <label for="name">Name: </label>
                                    <input name="name" type="text" value="<%= trivia1.name %>" />
                                    
                                    <label for="Trivia">Trivia: </label>
                                    <input name="Trivia" type="text" value="<%= trivia1.Trivia %>" />
                                    
                                    
                                    <button class="button">Edit Trivia</button>
                                    <br>
                                </div>
                            </form>
                    <% }); %>  
                </div>
        <br>
        <br>
        <br>

    <% include ../partial/footer %>
</body>    