<body>   
    <% include ../partial/header %>
    
    <br>
    <br>

    <!--<a href="/createsql" class="button">Add a Character!</a>-->

    
    
    
    
 <br>
            <br>       
         <div class="grid-container2">
            
        <% res1.forEach(function(trivia1) { %>
<br>
            <div class="item2">
                <div class="item">
                    <h1 class="itemtitle">Id: <%= trivia1.chrId %></h1>
                    <h1 class="itemp">Name: <%= trivia1.Trivia %></h1>
                   <a href="/deletetrivia/<%= trivia1.chrId %>" class="button">Delete Me!</a>
                    <a href="/triviaupdate/<%= trivia1.chrId %>" class="button">Edit Me!</a> 
            <br>
            <br> 
                </div>
            </div>


        <% }); %>


    </div>
    
    
   
    <br>
    <br>
    <br>
            
    <% include ../partial/footer %>
</body>