<body background="../d1.jpg" > 
  <% include ../partial/header %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
      <form id="uploadForm" ref="uploadForm" method="post" enctype="multipart/form-data">
            <input class="button" type="file" name="sampleFile" />
            <br>
            <input class="button" id="mod" type="submit" value="Upload!" />
      </form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>      
    
  <% include ../partial/footer %>
</body> 