<br>


<br>
<br>

<div class="footer">

<form method="post" action="/search")
    <label for="search">Search:</label>
                <input name="search" type="text" placeholder="Please enter your search term" />
               
          <button>Submit</button>
    </form>
    

  <p>Node.js Application</p>
  <p>supernatural site</p>
<br>
</div>