<div class="header">
<div class="imhold">
<img alt="lo" id="poster" class="logiIm" src='/tenor.gif'></div>
 <div class="navhold">
  <div class="topnav">
     <a href="/">Home</a>
     <a href="/character" >Characters</a>
     <a href="/add" >Add Contact</a>
     <a href="/fanclub"  >Fan Club</a>
     <a href="/products">Products</a>
  </div>
  </div>
  </div>