<div class="header">
  <div class="imagery">
     <img alt="lo" id="poster" class="logo" src='/tenor.gif'></div>
          <div class="navhold">
               <div class="topnav">
                  <a href="/">Home</a>
                  <a href="/character">Characters</a>
                  <a href="/fanclub">Fan Club</a>
                  <a href="/products">Products</a>
                  <a href="/add">Contact Us</a>
               </div>
          
         </div>
 </div> 