<div class="header">
  <div class="imagery">
     <link rel="stylesheet" href="../app.css" type="text/css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <img alt="lo" id="poster" class="logo" src='/tenor.gif'></div>
          <div class="navhold">
               <div class="topnav">
                  <a href="/">Home</a>
                  <a href="/characterssql">Characters</a>
                  <a href="/fanclub">Fan Club</a>
                  <a href="/products">Products</a>
                  <a href="/add">Contact Us</a>
                  <a href="/upload">Upload Image</a>
               </div>
          
         </div>
 </div> 