.body {
   
    
    background-color: #555;
    
   
    
}
.background{
   background-image: url(supernaturalgang.jpg);
   background-repeat: no-repeat; 
   width: 1000px;
   min-height: 1200px;
   
}


.logo {
    width: 52%;
    margin-top: -5px;
    
}  

.imagery{
    text-align: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.navhold{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-bottom: 20px;
    font-weight: bold;
    padding: 10px;
}

.holder {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



     
/* Add a black background color to the top navigation */
.topnav {
    
    width: 100%;
    margin-bottom: 15px;
  
}

/* Style the links inside the navigation bar */
.topnav a {
    float: align center;
    color: #000000;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 25px;
    line-height: 30px;
    background-color: lightgray
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: lightblue;
    color: black;
}

/* Add a color to the active/current link */
.topnav .active {
    background-color: darkblue;
    color: white;
}


.images {
    width: 400px;
    height: 400px;
    margin-top: 15px;
    margin-top: 15px;
        }
    

.center{
    
    text-align: center;
}


/* form on fanpage*/

.contactinfo{
    background-color: lightblue;
    text-align: center;
    border: 15px black;
}

/*styling for products*/

.grid-container {
  display: grid;
  align-content: center;
  
  grid-template-columns: auto auto auto;
  border-radius: 15px;
  grid-gap: 15px;
  background-color: lightblue;  
  padding: 20px;
  
}


.item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px 0;
}


#itemsContainer {
    width: 100%;
    text-align: center;
    padding: 10px;
    
}

.itemtitle {
   display: block;
    color: #270be0;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px
}

.itemp {
   display: block;
    color: black;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
    font-size: 20px
}

.pimage {
    width: 30%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#itemsContainer h2 {
   display: block;
    color: #555;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
    
}

#itemsContainer h1 {
   display: block;
    color: #555;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.itemhols {
   margin: 10px;
   display: inline-block;
   width: 100%;
   min-height: 30px;
   background-color: #ffffff;
   
}

/* End Style for products page */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.formHold {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width:80%;
}
.grid-container1{
    background-color: blue;
    border-radius: 15px;
    width: 90%;
    margin-left: 50px;
    
}

/* End Style for form */





/*.Contact {*/
/*    width: 100%;*/
/*    padding: 50px;*/
/*    position: relative;*/
/*}*/

/*.Contact p{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    font-size:30px;*/
/*    vertical-align: baseline;*/
/*    font-weight: bold;*/
/*    color: blue;*/
/*}*/

/*.Contact label p{*/
/*    color: blue;*/
/*    text-decoration: none;*/
/*    display:block;*/
/*    margin:15px 0;*/
/*    font-size:1.25em;*/
/*    font-weight: bold;*/
/*}*/

/*#contactform{*/
/*    width: 800px;*/
/*    margin-left: 200px ;*/
/*    background: lightgreen;*/
/*    overflow: hidden;*/
/*    border:2px black solid;*/
/*    padding: 15px;*/
/*    align-content: center;*/
    
/*}*/

/*.input{*/
/*    padding: 5px;*/
/*    width: 400px;*/
/*    outline:1px solid black;*/
/*    background-color: lightgray;*/
/*    margin-bottom: 10px;*/
/*    background: white;*/
/*}*/


/*character page styling*/
/*images in character page*/
.images {
    width: 400px;
    height: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
 
}


.charactersection {
    border: black solid 5px;
    background-color: teal;
    font-size: 24px;
    text-align: justify;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 15px;
    margin-top: 15px;
}

.charactersection h2, h3 {
    text-align: center;
    color: white;
    font-weight: bold;
}

.charactersection #dean, #sam, #castiel {
    text-align: justify;
    padding: 20px;
    background-color: lightblue;
    border-radius: 15px;
}

.charactersection #myButton, #myButton2,
#myButton3, #myButton4, #myButton5,
#myButton6{
    background-color: whitesmoke;
    color: darkcyan;
   margin-left: 310px;
   width: 160px;
        height: 40px; 
    
}

/*footer section*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #009688;
  color: white;
  text-align: center;
}
