.body {
    /*background-image: url(supernaturalbg.jpg);*/
    background-color: #555;
    background-repeat:no-repeat;
    background-size:100%;
    
    
}

.logiIm {
    width: 50%;
    
    
}  

.imhold{
    text-align: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.navhold{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-bottom: 10px;
    
}

.holder {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


/*images in character page*/
.images {width: 400px;
           height: 400px;
            margin-top: 15px;
     margin-bottom: 15px;
    align-content: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
 
}
     
/* Add a black background color to the top navigation */
.topnav {
    background-color: #ffffff;
  overflow: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: center align;
    color: #000000;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    font-size: 25px;
    line-height: 30px;
    background-color: lightgray
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: lightpink;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


        .images {
            width: 400px;
            height: 400px;
            margin-top: 15px;
            margin-top: 15px;
        }
    
/* form on fanpage*/





.charactersection {
    border: black solid 5px;
    background-color: teal;
    font-size: 24px;
    text-align: justify;
    padding-left: 35px;
    padding-right: 35px;
}











/*styling for products*/

.grid-container {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 12px;
  background-color: grey;  
  padding: 15px;
  
}


.item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px 0;
 
}


#itemsContainer {
    width: 100%;
    text-align: center;
    padding: 10px;
    
    
}


.itemtitle {
   display: block;
    color: #270be0;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 25px
    
}


.itemp {
   display: block;
    color: purple;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
    font-size: 16px
    
}



.pimage {
    width: 30%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



#itemsContainer h2 {
   display: block;
    color: #555;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
    
}


#itemsContainer h1 {
   display: block;
    color: #555;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
    
}


.itemhols {
   margin: 10px;
   display: inline-block;
   width: 100%;
   min-height: 30px;
   background-color: #ffffff;
}




/* End Style for products page */


/*Style for contact form*/

.Contact {
    width: 100%;
    padding: 50px;
    position: relative;
    
}


.Contact p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size:30px;
    vertical-align: baseline;
    font-weight: bold;
    color: blue;
}

.Contact label p{
    color: blue;
    text-decoration: none;
    display:block;
    margin:15px 0;
    font-size:1.25em;
    font-weight: bold;
}

#contactform{
    width: 800px;
    margin-left: 200px ;
    background: lightgreen;
    overflow: hidden;
    border:2px black solid;
    padding: 15px;
    align-content: center;
   
}

.c_input{
    padding: 5px;
    width: 400px;
    outline:1px solid black;
    background-color: lightgray;
    margin-bottom: 10px;
    background: white;
}


input:focus, textarea:focus{
    outline: none;
}

#c_form textarea{
    resize: none;
    width: 100%;
    min-height: 300px;
    border: black;
}

#c_enviar{
    padding: 4px;
    font-size: 13px;
    font-family: helvetica, arial;
}

#bottom_container{
    overflow: hidden;
}

#c_information{
    width: 100%;
    border: solid 1px #ccc;
    background: transparent;
    padding: 4px 0 4px 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.c_error{
    color: #D64242;
    font-size: 10px;
    margin-left: 5px;
}
.hide{
display:none;
}

/*end of form css*/


/* Style the footer */
.footer {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    color: white;
    width: 100%;
    position: absolute;
    height: 90px;
    bottom: -240px;
    margin-left: 0;
}




